<section class="container-fluid footer border-top border-dark">
    <div class="row justify-content-around text-center">
        <div class="col-sm-10 col-md-8 col-lg-3">
            <p class="fs-5 fw-bold">Información</p>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-3">
            <p class="fs-5 fw-bold">Servicios</p>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-3">
            <p class="fs-5 fw-bold">Ayuda</p>
        </div>
        <div class="col-10">
            <p class="fs-6">@Powered by RedoIT 2021.</p>
        </div>
    </div>
</section>
