<nav class="navbar navbar-expand-lg navbar-light menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RedoIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link fs-6 fw-bold" href="#">INICIO</a>
                <a class="nav-link fs-6 fw-bold" href="#">SERVICIOS</a>
                <a class="nav-link fs-6 fw-bold" href="#">TECNOLOGIAS</a>
                <a class="nav-link fs-6 fw-bold" href="#">NOSOTROS</a>
                <a class="nav-link fs-6 fw-bold" href="#">CONTACTO</a>
            </div>
        </div>
    </div>
</nav>