{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid" id="carousel">
        {% include 'carousel.html' %}
    </section>
    <section class="row container-fluid" id="servicios">
        A
    </section>
    <section class="row container-fluid" id="tecnologias">
        B
    </section>
    <section class="row container-fluid" id="nosotros">
        C
    </section>
    <section class="row container-fluid" id="contacto">
        D
    </section>

{% endblock %}